NET ADDRESS(0)	LOC="P36"	 ;
NET ADDRESS(1)	LOC="P38"	 ;
NET ADDRESS(2)	LOC="P40"	 ;
NET ADDRESS(3)	LOC="P42"	 ;
NET ADDRESS(4)	LOC="P44"	 ;
NET ADDRESS(5)	LOC="P43"	 ;
NET ADDRESS(6)	LOC="P41"	 ;
NET ADDRESS(7)	LOC="P39"	 ;
NET ADDRESS(8)	LOC="P37"	 ;

NET OUTPUT(0)	LOC="P27"	 ;
NET OUTPUT(1)	LOC="P28"	 ;
NET OUTPUT(2)	LOC="P29"	 ;
NET OUTPUT(3)	LOC="P30"	 ;
NET OUTPUT(4)	LOC="P31"	 ;
NET OUTPUT(5)	LOC="P32"	 ;
NET OUTPUT(6)	LOC="P33"	 ;
NET OUTPUT(7)	LOC="P34"	 ;

NET RGB_ENABLE_PRIME	LOC="P01"	;